.wrapper
  = render '/items/main-header'
  .nav
    nav-bar
  .main-container
    .main-content
      %section.main-content-mypage-user
        %a.main-content-mypage-user__field
          %figure.main-content-mypage-user__field__figure
            %img.main-content-mypage-user__field__figure__image{alt: "", height: "60", src: "//static.mercdn.net/images/member_photo_noimage_thumb.png", width: "60"}/
          %h2.main-content-mypage-user__field__name ケンピー
          .main-content-mypage-number
            .main-content-mypage-number__evaluation
              評価
              %span.main-content-mypage-number__evaluation__count 36
            .main-content-mypage-number__sells
              出品数
              %span.main-content-mypage-number__sells__count 33
      .tabs
        %input#tab-1{checked: "checked", name: "tab-radio", type: "radio"}/
        %label.tab-label1{for: "tab-1"} お知らせ
        %input#tab-2{name: "tab-radio", type: "radio"}/
        %label.tab-label2{for: "tab-2"} やることリスト
        .tab-content.tab-1-content
          %li.main-content-tabs__line__list__notice
            %a.main-content-tabs__line__list__notice__field{href: "https://mercari.com/jp/"}
              %figure.main-content-tabs__line__list__notice__field__figure
                %img.main-content-tabs__line__list__notice__field__figure__image{alt: "", src: "//static.mercdn.net/images/member_photo_noimage_thumb.png"}/
              .main-content-tabs__line__list--textarea
                .main-content-tabs__line__list--textarea__text いいね！しました
                .main-content-tabs__line__list--textarea__timebox
                  %i.fa.fa-clock-o
                  %span.day-time 1 日前
              %i.fa.fa-chevron-right
          %li.main-content-tabs__line__list__notice
            %a.main-content-tabs__line__list__notice__field{href: "https://mercari.com/jp/"}
              %figure.main-content-tabs__line__list__notice__field__figure
                %img.main-content-tabs__line__list__notice__field__figure__image{alt: "", src: "//static.mercdn.net/images/member_photo_noimage_thumb.png"}/
              .main-content-tabs__line__list--textarea
                .main-content-tabs__line__list--textarea__text いいね！しました
                .main-content-tabs__line__list--textarea__timebox
                  %i.fa.fa-clock-o
                  %span.day-time 1 日前
              %i.fa.fa-chevron-right
          %li.main-content-tabs__line__list__notice
            %a.main-content-tabs__line__list__notice__field{href: "https://mercari.com/jp/"}
              %figure.main-content-tabs__line__list__notice__field__figure
                %img.main-content-tabs__line__list__notice__field__figure__image{alt: "", src: "//static.mercdn.net/images/member_photo_noimage_thumb.png"}/
              .main-content-tabs__line__list--textarea
                .main-content-tabs__line__list--textarea__text いいね！しました
                .main-content-tabs__line__list--textarea__timebox
                  %i.fa.fa-clock-o
                  %span.day-time 1 日前
              %i.fa.fa-chevron-right
          %li.main-content-tabs__line__list__back
            %a.main-content-tabs__line__list__back-text{href: "/jp/mypage/notification/"} 一覧を見る
        .tab-content.tab-2-content
          %ul#mypage-tab-todo.mypage-item-list.tab-pane.active
            %li.mypage-item-not-found.bold 現在、やることリストはありません

      %section.main-content-purchace
        %h2.main-content-purchace__head
          購入した商品
        .tabs
          %input#tab-3{checked: "checked", name: "tab-tv", type: "radio"}/
          %label.tab-label3{for: "tab-3"} 取引中
          %input#tab-4{name: "tab-tv", type: "radio"}/
          %label.tab-label4{for: "tab-4"} 過去の取引
          .tab-content.tab-3-content
            %li.main-content-tabs__line__list__todo
              %a.main-content-tabs__line__list__todo__field{href: "https://mercari.com/jp/"}
                %figure.main-content-tabs__line__list__todo__field__figure
                  %img.main-content-tabs__line__list__todo__field__figure__image{alt: "", src: "//static.mercdn.net/images/member_photo_noimage_thumb.png"}/
                .main-content-tabs__line__list__todo--textarea
                  .main-content-tabs__line__list__todo--textarea__text いいね！しました
                  .main-content-tabs__line__list--todo--textarea__timebox
                    %span.main-content-tabs__line__list--todo--textarea__timebox-trihiki 取引完了
                %i.fa.fa-chevron-right
            %li.main-content-tabs__line__list__notice
              %a.main-content-tabs__line__list__notice__field{href: "https://mercari.com/jp/"}
                %figure.main-content-tabs__line__list__notice__field__figure
                  %img.main-content-tabs__line__list__notice__field__figure__image{alt: "", src: "//static.mercdn.net/images/member_photo_noimage_thumb.png"}/
                .main-content-tabs__line__list--textarea
                  .main-content-tabs__line__list--textarea__text いいね！しました
                  .main-content-tabs__line__list--textarea__timebox
                    %span.trihiki 取引完了
                %i.fa.fa-chevron-right
            %li.main-content-tabs__line__list__notice
              %a.main-content-tabs__line__list__notice__field{href: "https://mercari.com/jp/"}
                %figure.main-content-tabs__line__list__notice__field__figure
                  %img.main-content-tabs__line__list__notice__field__figure__image{alt: "",src: "//static.mercdn.net/images/member_photo_noimage_thumb.png"}/
                .main-content-tabs__line__list--textarea
                  .main-content-tabs__line__list--textarea__text いいね！しました
                  .main-content-tabs__line__list--textarea__timebox
                    %span.trihiki 取引完了
                %i.fa.fa-chevron-right
            %li.main-content-tabs__line__list__notice
              %a.main-content-tabs__line__list__notice__field{href: "https://mercari.com/jp/"}
                %figure.main-content-tabs__line__list__notice__field__figure
                  %img.main-content-tabs__line__list__notice__field__figure__image{alt: "", src: "//static.mercdn.net/images/member_photo_noimage_thumb.png"}/
                .main-content-tabs__line__list--textarea
                  .main-content-tabs__line__list--textarea__text いいね！しました
                  .main-content-tabs__line__list--textarea__timebox
                    %span.trihiki 取引完了
                %i.fa.fa-chevron-right
            %li.main-content-tabs__line__list__notice
              %a.main-content-tabs__line__list__notice__field{href: "https://mercari.com/jp/"}
                %figure.main-content-tabs__line__list__notice__field__figure
                  %img.main-content-tabs__line__list__notice__field__figure__image{alt: "", src: "//static.mercdn.net/images/member_photo_noimage_thumb.png"}/
                .main-content-tabs__line__list--textarea
                  .main-content-tabs__line__list--textarea__text いいね！しました
                  .main-content-tabs__line__list--textarea__timebox
                    %span.trihiki 取引完了
                %i.fa.fa-chevron-right
            %li.main-content-tabs__line__list__back
              %a.main-content-tabs__line__list__back-text{href: "/jp/mypage/notification/"} 一覧を見る
          .tab-content.tab-4-content
            %ul#mypage-tab-todo.mypage-item-list.tab-pane.active
              %li.mypage-item-not-found.bold 現在、やることリストはありません
    = render 'side-bar'
  .aside
    aside
  = render 'items/main-footer'