.wrapper
  .header
    header
  .nav
    nav-bar
  .main-container
    .main-content
      %section.mypage-user-icon
        %a
          %figure
            %img{:alt => "", :height => "60", :src => "//static.mercdn.net/images/member_photo_noimage_thumb.png", :width => "60"}/
          %h2.bold ケンピー
          .mypage-number
            .mypage-number-i
              評価
              %span.bold 36
            .mypage-number-ii
              出品数
              %span.bold 33
      %section.mypage-tab-container-notification-todo
        %ul.mypage-tabs
          %li.notice-tab
            %h3
              %a{"data-toggle" => "tab", :href => "#mypage-tab-notification"}
                お知らせ
                -# %span.mypage-nav-number.hidden-large
                -#   99+
          %li.todo-tab
            %h3
              %a{"data-toggle" => "tab", :href => "#mypage-tab-todo"}
                やることリスト
        .tab-content
          %ul#mypage-tab-notification.mypage-item-list.tab-pane.active
            %li.notice
              %a.mypage-item-link{:href => "https://item.mercari.com/jp/m62002611702/"}
                %figure
                  %img.lazyloaded{:alt => "", "data-src" => "//static.mercdn.net/images/member_photo_noimage_thumb.png", :src => "//static.mercdn.net/images/member_photo_noimage_thumb.png"}/
                .mypage-item-body
                  .mypage-item-text いいね！しました
                  %time.time-box
                    %i.fa.fa-clock-o
                    %span.day 1 日前
                %i.fa.fa-chevron-right
            %li.notice
              %a.mypage-item-link{:href => "https://www.mercari.com/jp/mypage/news/"}
                %figure
                  %img.lazyloaded{:alt => "", "data-src" => "//static.mercdn.net/images/mercari_profile.png", :src => "//static.mercdn.net/images/mercari_profile.png"}/
                .mypage-item-body
                  .mypage-item-text 事務局から個別メッセージ「ログイン通知」
                  %time.time-box
                    %i.fa.fa-clock-o
                    %span.day 1 日前
                %i.fa.fa-chevron-right
            %li.notice
              %a.mypage-item-link{"data-modal" => "banner", "data-open" => "modal", :href => ""}
                %figure
                  %img.lazyloaded{:alt => "", "data-src" => "//static.mercdn.net/images/mercari_profile.png", :src => "//static.mercdn.net/images/mercari_profile.png"}/
                .mypage-item-body
                  .mypage-item-text 明日、5%還元お得チケットの有効期限が切れます！タップして詳細を確認しましよう。
                  %time.time-box
                    %i.fa.fa-clock-o
                    %span.day 1 日前
                %i.fa.fa-chevron-right
            %li.notice
              %a.mypage-item-link{:href => "https://www.mercari.com/jp/mypage/news/"}
                %figure
                  %img.lazyloaded{:alt => "", "data-src" => "//static.mercdn.net/images/mercari_profile.png", :src => "//static.mercdn.net/images/mercari_profile.png"}/
                .mypage-item-body
                  .mypage-item-text  事務局から個別メッセージ「《このお知らせを受け取った方限定》セブン-イレブンからの発送でP150プレゼント！」aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                  %time.time-box
                    %i.fa.fa-clock-o
                    %span.day 2 日前
                %i.fa.fa-chevron-right
            %li.notice
              %a.mypage-item-link{"data-modal" => "banner", "data-open" => "modal", :href => ""}
                %figure
                  %img.lazyloaded{:alt => "", "data-src" => "//static.mercdn.net/images/mercari_profile.png", :src => "//static.mercdn.net/images/mercari_profile.png"}/
                .mypage-item-body
                  .mypage-item-text 《まもなく終了》メルカリ6周年感謝祭キャンペーン開催中！
                  %time.time-box
                    %i.fa.fa-clock-o
                    %span.day 2 日前
                %i.fa.fa-chevron-right
            %li.mypage-go-list
              %a{:href => "/jp/mypage/notification/"} 一覧を見る
      %section.mypage-tab-container-purchace-list
        %h2.mypage-tab-head
          購入した商品
        %ul.mypage-tabs
          %li.notice-tab-bottom
            %a.torihiki
              取引中
          %li.notice-tab-bottom
            %a.torihiki
              過去の取引
        .tab-content
          %ul#mypage-tab-transaction-old.mypage-item-list.tab-pane.active
            %li.notice
              %a.mypage-item-link{"data-modal" => "banner", "data-open" => "modal", :href => ""}
                %figure
                  %img.lazyloaded{:alt => "", "data-src" => "//static.mercdn.net/thumb/photos/m62628436380_1.jpg?1551872581", :src => "//static.mercdn.net/thumb/photos/m62628436380_1.jpg?1551872581"}/
                .mypage-item-body
                  .mypage-item-text クリッパバックハンガーを購入しました。
                  .torihikikanryou  取引完了
                %i.fa.fa-chevron-right
            %li.notice
              %a.mypage-item-link{"data-modal" => "banner", "data-open" => "modal", :href => ""}
                %figure
                  %img.lazyloaded{:alt => "", "data-src" => "//static.mercdn.net/images/mercari_profile.png", :src => "//static.mercdn.net/images/mercari_profile.png"}/
                .mypage-item-body
                  .mypage-item-text 《まもなく終了》メルカリ6周年感謝祭キャンペーン開催中！
                  .torihikikanryou  取引完了
                %i.fa.fa-chevron-right
            %li.notice
              %a.mypage-item-link{"data-modal" => "banner", "data-open" => "modal", :href => ""}
                %figure
                  %img.lazyloaded{:alt => "", "data-src" => "//static.mercdn.net/images/mercari_profile.png", :src => "//static.mercdn.net/images/mercari_profile.png"}/
                .mypage-item-body
                  .mypage-item-text 《まもなく終了》メルカリ6周年感謝祭キャンペーン開催中！
                  .torihikikanryou  取引完了
                %i.fa.fa-chevron-right
            %li.notice
              %a.mypage-item-link{"data-modal" => "banner", "data-open" => "modal", :href => ""}
                %figure
                  %img.lazyloaded{:alt => "", "data-src" => "//static.mercdn.net/images/mercari_profile.png", :src => "//static.mercdn.net/images/mercari_profile.png"}/
                .mypage-item-body
                  .mypage-item-text 《まもなく終了》メルカリ6周年感謝祭キャンペーン開催中！
                  .torihikikanryou  取引完了
                %i.fa.fa-chevron-right
    .side-bar
      %nav.side-bar__box
        %ul
          %li
            %a.mypage{:href => "/jp/mypage/"} マイページ
            %i.fa.fa-chevron-right
          %li
            %a{:href => "/jp/mypage/notification/"}  お知らせ
            %i.fa.fa-chevron-right
          %li
            %a{:href => "/jp/mypage/todo/"}  やることリスト
            %i.fa.fa-chevron-right
          %li
            %a{:href => "/jp/mypage/like/history/"}  いいね一覧
            %i.fa.fa-chevron-right
          %li
            %a{:href => "/jp/sell/"}  出品する
            %i.fa.fa-chevron-right
          %li
            %a{:href => "/jp/mypage/listings/listing/"}  出品した商品-出品中
            %i.fa.fa-chevron-right
          %li
            %a{:href => "/jp/mypage/listings/in progress/"}  出品した商品-取引中
            %i.fa.fa-chevron-right
          %li
            %a{:href => "/jp/mypage/listings/completed/"}  出品した商品-売却済み
            %i.fa.fa-chevron-right
          %li
            %a{:href => "/jp/mypage/purchace/"}  購入した商品-取引中
            %i.fa.fa-chevron-right
          %li
            %a{:href => "/jp/mypage/purchaced/"}  購入した商品-過去の取引
            %i.fa.fa-chevron-right
          %li
            %a{:href => "/jp/mypage/news/"}  ニュース一覧
            %i.fa.fa-chevron-right
          %li
            %a{:href => "/jp/mypage/review/history/"}  評価一覧
            %i.fa.fa-chevron-right
          %li
            %a{:href => "/jp/help center/"}  ガイド
            %i.fa.fa-chevron-right
          %li
            %a{:href => "/jp/mypage/support/"}  お問い合わせ
            %i.fa.fa-chevron-right
        %h3  メルペイ
        %ul
          %li
            %a{:href => "/jp/mypage/sales/"}  残高・振込申請
            %i.fa.fa-chevron-right
          %li
            %a{:href => "/jp/mypage/point/"}  ポイント
            %i.fa.fa-chevron-right
        %h3  設定
        %ul
          %li
            %a{:href => "/jp/mypage/profile/"}  プロフィール
            %i.fa.fa-chevron-right
          %li
            %a{:href => "/jp/mypage/deliver address/"}  発送元・お届け先住所
            %i.fa.fa-chevron-right
          %li
            %a{:href => "/jp/mypage/card/"}  支払い方法
            %i.fa.fa-chevron-right
          %li
            %a{:href => "/jp/mypage/email password/"}  メール/パスワード
            %i.fa.fa-chevron-right
          %li
            %a{:href => "/jp/mypage/identification/"}  本人情報
            %i.fa.fa-chevron-right
          %li
            %a{:href => "/jp/mypage/sms confirmation/"}  電話番号の確認
            %i.fa.fa-chevron-right
          %li
            %a{:href => "/jp/mypage/logout/"}  ログアウト
            %i.fa.fa-chevron-right
  .aside
    aside-bar
  .footer
    footer