%footer.item-footer
  .item-footer__main
    %ul.item-footer__main__text.clearfix
      %li.item-footer__main__text__link1
        = link_to "#", class: 'item-footer__main__text__link1__left' do
          プライバシーポリシー
      %li.item-footer__main__text__link2
        = link_to "#", class: 'item-footer__main__text__link2__center' do
          メルカリ利用規約
      %li.item-footer__main__text__link3
        = link_to "#", class: 'item-footer__main__text__link3__right' do
          特定商取引に関する表記
    = link_to "#" do
      %img{art: "mercari", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2334484240", class: 'item-footer__main__img'}/
    %p
      %small
        © 2019 Mercar