%footer.item__footer
  .item__footer__main
    %ul.item__footer__main__text.clearfix
      %li.item__footer__main__text__link1
        = link_to "#", class: 'item__footer__main__text__link1__left' do
          プライバシーポリシー
      %li.item__footer__main__text__link2
        = link_to "#", class: 'item__footer__main__text__link2__center' do
          メルカリ利用規約
      %li.item__footer__main__text__link3
        = link_to "#", class: 'item__footer__main__text__link3__right' do
          特定商取引に関する表記
    = link_to "#" do
      %img{art: "mercari", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2334484240", class: 'item__footer__main__img'}/
    %p
      %small
        © 2019 Mercar