.default-container
  .item-box-container 
    %h1.item-name カーディガン green label relaxing
    .item-main-content 
      .item-photo
        -# .owl-carousel 
          -# .owl-stage-outer
            -# .owl-stage
              -# .owl-item-active{ style: "left: 0px; width: 1800px;" } 
                -# .owl-item-inner 
                  -# =image_tag https://static.mercdn.net/item/detail/orig/photos/m93081683172_1.jpg?1552539514
              .owl-item{ style: "left: 0px; width: 300px;" } 
      .item-detail-table
        .item-owner 
          .item-owner-name 出品者
          .item-owner-ratings
            %a{:href => "#"} user_name
            .item-owner-ratings-icon
              .item-user-ratings
                %i.icon-good
                %span 35
              .item-user-ratings
                %i.icon-normal
                %span 0
              .item-user-ratings
                %i.icon-bad
                %span 0
    .item-price-box 
  .item-detail-message

  %ul.nav-item-link-prev-next 
  .item-social-media-box
  .items-in-user-profile