.show-item{
  height:100%;
  width:100%;
  background-color: rgb(245 , 245 , 245);
  .breadcrumb{
    border-top: 1px solid #eee;
    background: #fff;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
    height: 45px;
    line-height: 45px;
  }
.show-content {
  margin: 16px 0 0;
  &__photo {
    float: left;
    min-width: 300px;
    max-width: 300px;
    min-height: 375px;
    position: relative;
    margin: 0 auto;
    background-color: #fafafa;
    .owl-carousel {
      position: relative;
      .owl-stage-outer {
        position: relative;
        overflow: hidden;
        .owl-stage {
          position: relative;
          .owl-item {
            min-height: 1px;
            float:left;
            &__inner {
              position: relative;
              width: 100%;
              height: 0;
              padding: 0 0 100%;
              .owl-lazy {
                transition: opacity 400ms;
              }
              img {
                position: absolute;
                top: 0;
                left:0;
                bottom: 0;
                right: 0;
                width: 100%;
                margin: auto;
                max-height: 300px;
              }
            }
          }
        }
      }
      .owl-dots {
        line-height: 0;
        font-size: 0;
        .owl-dot {
          position: relative;
          overflow: hidden;
          display: inline-block;
          width: 75px;
          height: 75px;
          opacity: 0.4;
          cursor: pointer;
          .owl-dot-inner {
            overflow: hidden;
            position: static;
            width: auto;
            height: 100%;
            padding: 0;
            pointer-events: none;
            img {
              height: 100%;
              width: 100%;
              vertical-align: bottom;
            }
          }
        }
      }
    }
  }
  .show__contents__detail-table{
    float: right;
            max-width: 300px;
            height: 420px;
            margin: 0 auto;
            width: 100%;
            background: #fafafa;
            font-size: 14px;

    }

}
.navi-item.clearfix{
  .navi-item__link-prev__text{
    float:left;
  }
  .navi-item__link-next__text{
    float:right;
  }
}
.item-social{
  margin: 24px auto;
  padding: 32px 0 24px;
  width: 700px;
  background: #fff;
  &__media-box{
    text-align: center;
    margin: 16px 0 0;
    list-style: none;
    &__facebook{
      text-decoration: none;
      .fa-facebook-square{
        width: 44px;
        height: 44px;
        border-radius: 4px;
        line-height: 44px;
        font-size: 26px;
        color: #fff;
        background: #385185;
      }
    }
    &__twitter{
      text-decoration: none;
      .fa-twitter{
        width: 44px;
        height: 44px;
        border-radius: 4px;
        line-height: 44px;
        font-size: 26px;
        color: #fff;
        background: #5d9dc9;
      }
    }
    &__pinterest{
      text-decoration: none;
      .fa-pinterest{
        width: 44px;
        height: 44px;
        border-radius: 4px;
        line-height: 44px;
        font-size: 26px;
        color: #fff;
        background: #aa262a;
      }
    }
  }
}
}

th{
  width: 39%;
  text-align: left;
  font-weight: 400;
  background: #fafafa;
  padding: 8px;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
}
td{
  width: 61%;
  background: #fff;
  padding: 8px;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
}