.item-header{
  padding-bottom: 40px;
  padding-top: 40px;
  text-align: center;
  background-color: rgb(245 , 245 , 245);
  img{
    height: 49px;
    width: 185px;
  }
}
.item-contents{
  background-color: rgb(245 , 245 , 245);
  &__main{
    background-color: #fff;
    margin-left: 370px;
    width: 700px;
    &__header{
      padding: 32px 16px;
      font-size: 22px;
      line-height: 1.5;
      text-align: center;
      border-bottom: solid 0.5px #EEEEEE;
    }
    &__form{
      &__upload-box{
        padding: 40px;
        border-bottom: solid 0.5px #EEEEEE;
        &__head{
          font-size: 16px;
          &__action{
             background: #ea352d;
             margin: 0 0 0 8px;
             padding: 2px 4px;
             border-radius: 2px;
             color: #fff;
             font-size: 12px;
             vertical-align: top;
          }
        }
        &__description{
          line-height: 1.5;
          margin: 8px 0 0;
          font-size: 13px;
        }
        &__image{
          width: 614px;
          height: 154px;
          margin: 16px auto 0;
          &__drop-file{
            background-color: transparent;
            display: none;
          }
          &__box{
              width: 533px;
              height: 80px;
              padding: 40px;
              background: #f5f5f5;
              border: 1px dashed #ccc;
              text-align: center;
              cursor: pointer;
              position: relative;
            
              &__text{
                font-size: 14px;
                line-height: 1.5;
                text-align: center;
                position: absolute;
                top: 45%;
                left: 16px;
                right: 35px;
                transform: translate(0, -50%);
                pointer-events: none;
                white-space: pre-wrap;
                word-wrap: break-word;
                }
            }
          
        }
        &__image2{
          width: 614px;
          height: 154px;
          margin: 16px auto 0;
          // display: none;
          &__drop-file{
            background-color: transparent;
            display: none;
          }
          &__view{
            height: 162px;
            width: 114px ;
            float: left;
            background: #f5f5f5;
            border: 1px dashed #ccc;
            margin-right: 7px;
            &__file{
              height: 120px;
              width: 100px; 
              &__preview{
                object-fit: contain;
                height: 100px;
                width: 114px ;
                padding-top: 10px;
                
              }
            }
            &__btn{
              &__left{
                float: left;
                padding-left: 20px;
                padding-top: 10px;
                color: #0099e8;
              }
              &__right{
                float: right;
                padding-right: 20px;
                padding-top: 10px;
                color: #0099e8;
                cursor: pointer;
              }
            }
          }
          &__box{
              float: right;
              width: calc((533px / 5 * 4) - 23px);
              height: 80px;
              padding: 40px;
              background: #f5f5f5;
              border: 1px dashed #ccc;
              text-align: center;
              cursor: pointer;
              position: relative;
              display: block;
            &__text{
              font-size: 14px;
              line-height: 1.5;
              text-align: center;
              position: absolute;
              top: 45%;
              left: 16px;
              right: 35px;
              transform: translate(0, -50%);
              pointer-events: none;
              white-space: pre-wrap;
              word-wrap: break-word;
              }
              .preview{
                height: 100px;
                width: 100px;
              }
          }     
        }
        &__image3{
          width: 614px;
          height: 154px;
          margin: 16px auto 0;
          // display: none;
          &__drop-file{
            background-color: transparent;
            display: none;
          }
          &__view{
            height: 162px;
            width: 114px;
            float: left;
            background: #f5f5f5;
            border: 1px dashed #ccc;
            margin-right: 7px;
            &__file{
              height: 120px;
              width: 100px; 
              &__preview{
                object-fit: contain;
                height: 100px;
                width: 114px;
                padding-top: 10px;
                
              }
            }
            &__btn{
              &__left{
                float: left;
                padding-left: 20px;
                padding-top: 10px;
                color: #0099e8
              }
              &__right{
                float: right;
                padding-right: 20px;
                padding-top: 10px;
                color: #0099e8
              }
            }
          }
          &__box{
              float: right;
              width: calc((533px / 5 * 3) - 40px);
              height: 80px;
              padding: 40px;
              background: #f5f5f5;
              border: 1px dashed #ccc;
              text-align: center;
              cursor: pointer;
              position: relative;
              display: block;
              &__text{
                font-size: 14px;
                line-height: 1.5;
                text-align: center;
                position: absolute;
                top: 45%;
                left: 16px;
                right: 35px;
                transform: translate(0, -50%);
                pointer-events: none;
                white-space: pre-wrap;
                word-wrap: break-word;
                }
            }
          
        }
        &__image4{
          width: 614px;
          height: 154px;
          margin: 16px auto 0;
          // display: none;
          &__drop-file{
            background-color: transparent;
            display: none;
          }
          &__view{
            height: 162px;
            width: 114px ;
            float: left;
            background: #f5f5f5;
            border: 1px dashed #ccc;
            margin-right: 7px;
            &__file{
              height: 120px;
              width: 100px; 
              &__preview{
                object-fit: contain;
                height: 100px;
                width: 114px ;
                padding-top: 10px;
                
              }
            }
            &__btn{
              &__left{
                float: left;
                padding-left: 20px;
                padding-top: 10px;
                color: #0099e8
              }
              &__right{
                float: right;
                padding-right: 20px;
                padding-top: 10px;
                color: #0099e8
              }
            }
          }
          &__box{
              float: right;
              width: calc((533px / 5 * 2) - 60px);
              height: 80px;
              padding: 40px;
              background: #f5f5f5;
              border: 1px dashed #ccc;
              text-align: center;
              cursor: pointer;
              position: relative;
              display: block;
              &__text{
                font-size: 14px;
                line-height: 1.5;
                text-align: center;
                position: absolute;
                top: 45%;
                left: 16px;
                right: 35px;
                transform: translate(0, -50%);
                pointer-events: none;
                white-space: pre-wrap;
                word-wrap: break-word;
                }
            }
          
        }
        &__image5{
          width: 614px;
          height: 154px;
          margin: 16px auto 0;
          // display: none;
          &__drop-file{
            background-color: transparent;
            display: none;
          }
          &__view{
            height: 162px;
            width: 114px ;
            float: left;
            background: #f5f5f5;
            border: 1px dashed #ccc;
            margin-right: 7px;
            &__file{
              height: 120px;
              width: 100px; 
              &__preview{
                object-fit: contain;
                height: 100px;
                width: 114px ;
                padding-top: 10px;
                
              }
            }
            &__btn{
              &__left{
                float: left;
                padding-left: 20px;
                padding-top: 10px;
                color: #0099e8
              }
              &__right{
                float: right;
                padding-right: 20px;
                padding-top: 10px;
                color: #0099e8
              }
            }
          }
          &__box{
              float: right;
              width: calc((533px / 5 * 1) - 77px);
              height: 80px;
              padding: 40px;
              background: #f5f5f5;
              border: 1px dashed #ccc;
              text-align: center;
              cursor: pointer;
              position: relative;
              display: block;
              &__text{
                font-size: 14px;
                line-height: 1.5;
                text-align: center;
                position: absolute;
                top: 45%;
                left: 16px;
                right: 35px;
                transform: translate(0, -50%);
                pointer-events: none;
                white-space: pre-wrap;
                word-wrap: break-word;
                }
            }
          
        }
        &__image6{
          width: 614px;
          height: 154px;
          margin: 16px auto 0;
          // display: none;
          &__drop-file{
            background-color: transparent;
            display: none;
          }
          &__view{
            height: 162px;
            width: 114px ;
            float: left;
            background: #f5f5f5;
            border: 1px dashed #ccc;
            &__file{
              height: 120px;
              width: 100px; 
              &__preview{
                object-fit: contain;
                height: 100px;
                width: 114px ;
                padding-top: 10px;
                
              }
            }
            &__btn{
              &__left{
                float: left;
                padding-left: 20px;
                padding-top: 10px;
                color: #0099e8
              }
              &__right{
                float: right;
                padding-right: 20px;
                padding-top: 10px;
                color: #0099e8
              }
            }
          }
          &__box{
              float: right;
              width: 533px;
              height: 80px;
              padding: 40px;
              background: #f5f5f5;
              border: 1px dashed #ccc;
              text-align: center;
              cursor: pointer;
              position: relative;
              display: block;
              margin-top: 20px;
              &__text{
                font-size: 14px;
                line-height: 1.5;
                text-align: center;
                position: absolute;
                top: 45%;
                left: 16px;
                right: 35px;
                transform: translate(0, -50%);
                pointer-events: none;
                white-space: pre-wrap;
                word-wrap: break-word;
                }
            }
          
        }
        &__image7{
          width: 614px;
          height: 154px;
          margin: 16px auto 0;
          // display: none;
          &__drop-file{
            background-color: transparent;
            display: none;
          }
          &__view{
            height: 162px;
            width: 114px ;
            float: left;
            background: #f5f5f5;
            border: 1px dashed #ccc;
            margin-right: 7px;
            margin-top: 20px;
            &__file{
              height: 120px;
              width: 100px; 
              &__preview{
                object-fit: contain;
                height: 100px;
                width: 114px ;
                padding-top: 10px;
                
              }
            }
            &__btn{
              &__left{
                float: left;
                padding-left: 20px;
                padding-top: 10px;
                color: #0099e8
              }
              &__right{
                float: right;
                padding-right: 20px;
                padding-top: 10px;
                color: #0099e8
              }
            }
          }
          &__box{
              float: right;
              width: calc((533px / 5 * 4) - 23px);
              height: 80px;
              padding: 40px;
              background: #f5f5f5;
              border: 1px dashed #ccc;
              text-align: center;
              cursor: pointer;
              position: relative;
              display: block;
              margin-top: 20px;
              &__text{
                font-size: 14px;
                line-height: 1.5;
                text-align: center;
                position: absolute;
                top: 45%;
                left: 16px;
                right: 35px;
                transform: translate(0, -50%);
                pointer-events: none;
                white-space: pre-wrap;
                word-wrap: break-word;
                }
            }
          
        }
        &__image8{
          width: 614px;
          height: 154px;
          margin: 16px auto 0;
          // display: none;
          &__drop-file{
            background-color: transparent;
            display: none;
          }
          &__view{
            height: 162px;
            width: 114px ;
            float: left;
            background: #f5f5f5;
            border: 1px dashed #ccc;
            margin-right: 7px;
            margin-top: 20px;
            &__file{
              height: 120px;
              width: 100px; 
              &__preview{
                object-fit: contain;
                height: 100px;
                width: 114px ;
                padding-top: 10px;
                
              }
            }
            &__btn{
              &__left{
                float: left;
                padding-left: 20px;
                padding-top: 10px;
                color: #0099e8
              }
              &__right{
                float: right;
                padding-right: 20px;
                padding-top: 10px;
                color: #0099e8
              }
            }
          }
          &__box{
              float: right;
              width: calc((533px / 5 * 3) - 40px);
              height: 80px;
              padding: 40px;
              background: #f5f5f5;
              border: 1px dashed #ccc;
              text-align: center;
              cursor: pointer;
              position: relative;
              display: block;
              margin-top: 20px;
              &__text{
                font-size: 14px;
                line-height: 1.5;
                text-align: center;
                position: absolute;
                top: 45%;
                left: 16px;
                right: 35px;
                transform: translate(0, -50%);
                pointer-events: none;
                white-space: pre-wrap;
                word-wrap: break-word;
                }
            }
          
        }
        &__image9{
          width: 614px;
          height: 154px;
          margin: 16px auto 0;
          // padding-left: 109px;
          // display: none;
          &__drop-file{
            background-color: transparent;
            display: none;
          }
          &__view{
            height: 162px;
            width: 114px ;
            float: left;
            background: #f5f5f5;
            border: 1px dashed #ccc;
            margin-right: 7px;
            margin-top: 20px;
            &__file{
              height: 120px;
              width: 100px; 
              &__preview{
                object-fit: contain;
                height: 100px;
                width: 114px ;
                padding-top: 10px;
                
              }
            }
            &__btn{
              &__left{
                float: left;
                padding-left: 20px;
                padding-top: 10px;
                color: #0099e8
              }
              &__right{
                float: right;
                padding-right: 20px;
                padding-top: 10px;
                color: #0099e8
              }
            }
          }
          &__box{
              float: right;
              width: calc((533px / 5 * 2) - 60px);
              height: 80px;
              padding: 40px;
              background: #f5f5f5;
              border: 1px dashed #ccc;
              text-align: center;
              cursor: pointer;
              position: relative;
              display: block;
              margin-top: 20px;
              &__text{
                font-size: 14px;
                line-height: 1.5;
                text-align: center;
                position: absolute;
                top: 45%;
                left: 16px;
                right: 35px;
                transform: translate(0, -50%);
                pointer-events: none;
                white-space: pre-wrap;
                word-wrap: break-word;
                }
            }
          
        }
        &__image10{
          width: 614px;
          height: 154px;
          margin: 16px auto 0;
          // display: none;
          &__drop-file{
            background-color: transparent;
            display: none;
          }
          &__view{
            height: 162px;
            width: 114px ;
            float: left;
            background: #f5f5f5;
            border: 1px dashed #ccc;
            margin-right: 7px;
            margin-top: 20px;
            &__file{
              height: 120px;
              width: 100px; 
              &__preview{
                object-fit: contain;
                height: 100px;
                width: 114px ;
                padding-top: 10px;
                
              }
            }
            &__btn{
              &__left{
                float: left;
                padding-left: 20px;
                padding-top: 10px;
                color: #0099e8
              }
              &__right{
                float: right;
                padding-right: 20px;
                padding-top: 10px;
                color: #0099e8
              }
            }
          }
          &__box{
              float: right;
              width: calc((533px / 5 * 1) - 77px);
              height: 80px;
              padding: 40px;
              background: #f5f5f5;
              border: 1px dashed #ccc;
              text-align: center;
              cursor: pointer;
              position: relative;
              display: block;
              margin-top: 20px;
              &__text{
                font-size: 14px;
                line-height: 1.5;
                text-align: center;
                position: absolute;
                top: 45%;
                left: 16px;
                right: 35px;
                transform: translate(0, -50%);
                pointer-events: none;
                white-space: pre-wrap;
                word-wrap: break-word;
                }
            }
          
        }
        &__image11{
          width: 614px;
          height: 154px;
          margin: 16px auto 0;
          // display: none;
          &__drop-file{
            background-color: transparent;
            display: none;
          }
          &__view{
            height: 162px;
            width: 114px ;
            float: left;
            background: #f5f5f5;
            border: 1px dashed #ccc;
            margin-top: 20px;
            &__file{
              height: 120px;
              width: 100px; 
              &__preview{
                object-fit: contain;
                height: 100px;
                width: 114px ;
                padding-top: 10px;
                
              }
            }
            &__btn{
              &__left{
                float: left;
                padding-left: 20px;
                padding-top: 10px;
                color: #0099e8
              }
              &__right{
                float: right;
                padding-right: 20px;
                padding-top: 10px;
                color: #0099e8
              }
            }
          }          
        }
      }
      &__product{
        border-bottom: solid 0.5px #EEEEEE;
        padding: 40px;
        &__form-group1{
          &__label{
            &__action{
              background: #ea352d;
              margin: 0 0 0 8px;
              padding: 2px 4px;
              border-radius: 2px;
              color: #fff;
              font-size: 12px;
              vertical-align: top;
            }
          }
          &__form{
            width: 95%;
            margin: 8px 0 0;
            height: 28px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
        }
        &__form-group2{
          margin: 40px 0 0;
          &__label{
            &__action{
              background: #ea352d;
              margin: 0 0 0 8px;
              padding: 2px 4px;
              border-radius: 2px;
              color: #fff;
              font-size: 12px;
              vertical-align: top;
            }
          }
          &__form{
            width: 95%;
            margin: 8px 0 0;
            height: 124px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
            resize: vertical;
          }
        }
      }
      &__detail{
        padding: 40px;
        border-bottom: solid 0.5px #EEEEEE;
        &__head{
          color: #888;
          font-size: 14px;
          display: block;
          float: left;
        }
        &__form-box{
          width: 400px;
          display: block;
          float: right;
          &__form-group1{
            &__label{
              &__action{
                background: #ea352d;
                margin: 0 0 0 8px;
                padding: 2px 4px;
                border-radius: 2px;
                color: #fff;
                font-size: 12px;
                vertical-align: top;
              }
            }
            &__select-wrap{
                margin: 8px 0 0;
                width: 100%;
                height: 48px;
                &__select-box{
                  z-index: 2;
                  height: 48px;
                  padding: 0 16px;
                  border-radius: 4px;
                  border: 1px solid #ccc;
                  background: 0;
                  font-size: 16px;
                  line-height: 1.5;
                  cursor: pointer;
                  width: 100%;
              }
            }
            
          }
          &__form-group2{
            display: none;
            margin: 40px 0 0;
            &__label{
              &__action{
                background: #ea352d;
                margin: 0 0 0 8px;
                padding: 2px 4px;
                border-radius: 2px;
                color: #fff;
                font-size: 12px;
                vertical-align: top;
              }
            }
            &__select-wrap{
                margin: 8px 0 0;
                width: 100%;
                height: 48px;
                &__select-box{
                  z-index: 2;
                  height: 48px;
                  padding: 0 16px;
                  border-radius: 4px;
                  border: 1px solid #ccc;
                  background: 0;
                  font-size: 16px;
                  line-height: 1.5;
                  cursor: pointer;
                  width: 100%;
              }
            }
          }
          &__form-group3{
            margin: 40px 0 0;
            &__label{
              &__action{
                background: #ea352d;
                margin: 0 0 0 8px;
                padding: 2px 4px;
                border-radius: 2px;
                color: #fff;
                font-size: 12px;
                vertical-align: top;
              }
            }
            &__select-wrap{
                margin: 8px 0 0;
                width: 100%;
                height: 48px;
                &__select-box{
                  z-index: 2;
                  height: 48px;
                  padding: 0 16px;
                  border-radius: 4px;
                  border: 1px solid #ccc;
                  background: 0;
                  font-size: 16px;
                  line-height: 1.5;
                  cursor: pointer;
                  width: 100%;
              }
            }
            &__select-wrap1{
              &__select-box{
                z-index: 2;
                height: 48px;
                padding: 0 16px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: 0;
                font-size: 16px;
                line-height: 1.5;
                cursor: pointer;
                width: 100%;
            }
          }
            &__select-wrap2{
              &__select-box{
                z-index: 2;
                height: 48px;
                padding: 0 16px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: 0;
                font-size: 16px;
                line-height: 1.5;
                cursor: pointer;
                width: 100%;
                margin-top: 10px;
            }
          }
          &__select-wrap3{
            &__select-box{
              z-index: 2;
              height: 48px;
              padding: 0 16px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: 0;
              font-size: 16px;
              line-height: 1.5;
              cursor: pointer;
              width: 100%;
              margin-top: 10px;
          }
        }
          }
          &__form-group4{
            margin: 40px 0 0;
            &__label{
              &__action{
                background: #ea352d;
                margin: 0 0 0 8px;
                padding: 2px 4px;
                border-radius: 2px;
                color: #fff;
                font-size: 12px;
                vertical-align: top;
              }
            }
            &__select-wrap{
                margin: 8px 0 0;
                width: 100%;
                height: 48px;
                &__select-box{
                  z-index: 2;
                  height: 48px;
                  padding: 0 16px;
                  border-radius: 4px;
                  border: 1px solid #ccc;
                  background: 0;
                  font-size: 16px;
                  line-height: 1.5;
                  cursor: pointer;
                  width: 100%;
              }
            }
          }
          &__form-group5{
            // display: none;
            margin: 40px 0 0;
            &__label{
              &__action{
                background: gray;
                margin: 0 0 0 8px;
                padding: 2px 4px;
                border-radius: 2px;
                color: #fff;
                font-size: 12px;
                vertical-align: top;
              }
            }
            &__select-wrap{
                margin: 8px 0 0;
                width: 400px;
                height: 48px;
                &__select-box{
                  z-index: 2;
                  height: 48px;
                  border-radius: 4px;
                  border: 1px solid #ccc;
                  background: 0;
                  font-size: 16px;
                  line-height: 1.5;
                  cursor: pointer;
                  width: 400px;
              }
            }
          }
          &__form-group6{
            display: none;
            margin: 40px 0 0;
            &__label{
              &__action{
                background: #ea352d;
                margin: 0 0 0 8px;
                padding: 2px 4px;
                border-radius: 2px;
                color: #fff;
                font-size: 12px;
                vertical-align: top;
              }
            }
            &__select-wrap{
                margin: 8px 0 0;
                width: 100%;
                height: 48px;
                &__select-box{
                  z-index: 2;
                  height: 48px;
                  padding: 0 16px;
                  border-radius: 4px;
                  border: 1px solid #ccc;
                  background: 0;
                  font-size: 16px;
                  line-height: 1.5;
                  cursor: pointer;
                  width: 100%;
              }
            }
          }
        }
      }
      &__price{
        border-bottom: solid 0.5px #EEEEEE;
        padding: 40px;
        &__head{
          float: left;
          color: #888;
          font-size: 14px;
        }
        &__form-box{
          float: right;
          width: 400px;
          &__sell-price{
            list-style: none;
            &__form-group{
              padding: 0 0 24px;
              border: 0;
              border-bottom: solid 1px #888;
              &__clear{
                &__label{
                  width: 50%;
                  line-height: 48px;
                  font-weight: 600; 
                  float: left;
                  
                  &__action{
                    background: #ea352d;
                    margin: 0 0 0 8px;
                    padding: 2px 4px;
                    border-radius: 2px;
                    color: #fff;
                    font-size: 12px;
                    vertical-align: top;
                  }
                }
                &__input{ 
                  width: 50%; 
                  text-align: right;
                  float: right;
                  &__text{
                    float: left;
                    margin-top: 10px;
                    margin-left: 20px;
                    font-size: 12px;
                  }       
                  &__box{
                    text-align: right;
                    height: 27px;
                    padding: 10px 16px 8px;
                    border-radius: 4px;
                    border: 1px solid #ccc;
                    background: #fff;
                    line-height: 1.5;
                    font-size: 14px;
                    width: 130px;
                    float: right;
                  } 
                }   
              }
            }
            &__form-group2{
              padding: 24px 0;
              &__left{
                float: left;
              }
              &__right{
                float: right;
              }
            }
            &__form-group3{
              padding: 24px 0;
              border-bottom: solid 1px #888;
              font-weight: 600;
              &__left{
                float: left;
                font-size: 16px;
              }
              &__right{
                float: right;
                font-size: 34px;
              }
            }
          }
        }
      }
      &__btn-box{
        padding: 40px;
        font-size: 14px;
        &__text{
          line-height: 1.5;
          &__link{
            color: #0099e8;
            text-decoration: none;
          }
        }
        &__red-btn{
          margin: 40px 0 0;
          background: #ea352d;
          border: 1px solid #ea352d;
          color:#fff;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          text-align: center;
          cursor: pointer;
        }
        &__gray-btn{
          width: 45%;
          margin: 24px auto 0;
          background: #aaa;
          border: 1px solid #aaa;
          color: #fff;
          line-height: 48px;
          font-size: 14px;
          text-align: center;
          cursor: pointer;
          &__link{
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
  }
}
.item-footer{
  &__main{
    width: 1440px;
    height: 160px;
    margin: 0 auto;
    position: absolute;
    z-index: 1;
    padding: 40px 0;
    text-align: center;
    background-color: rgb(245 , 245 , 245);
    &__text{
      list-style: none;
      margin-bottom: 50px;
      &__link1{
        display: inline-block;
        &__left{
        color: #333;
        text-decoration: none;
        font-size: 12px;
        margin-right: 10px;
        }
      }
      &__link2{
        display: inline-block;
        &__center{
        color: #333;
        text-decoration: none;
        font-size: 12px;
        }
      }
      &__link3{
        display: inline-block;
        &__right{
        color: #333;
        text-decoration: none;
        font-size: 12px;
        margin-left: 10px;
        }
      }
    }
    &__img{
      width: 80px;
      height: 65px;
    }
  }
}
.clearfix:after{
    content: "";
    clear: both;
  display: block;
}

