// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.background{
  height: 100%;
  width: 100%;
  background: #fafafa;
  padding-top: 40px;
  .show{
    width: 620px;
    background: #fff;
    margin: 0 auto 0;
    padding: 24px 40px 40px;
    .show__name{
      font-size: 20px;
      text-align: center;
      word-wrap: break-word;
      line-height: 1.4;
    }
    .show__contents{
      margin: 16px 0 0;
      .show__contents__item-photo{
        float: left;
        min-width: 300px;
        max-width: 300px;
        min-height: 375px;
        background: #fafafa;
        img{
          height: 300px;
          width: 200px;
          margin-left: 50px;
        }
      }
      .show__contents__detail-table{
        float: right;
        max-width: 300px;
        height: 420px;
        margin: 0 auto;
        width: 100%;
        background: #fafafa;
        font-size: 14px;
        .show__contents__detail-table__name{
          color: #0099e8;
          text-decoration: none;
        }
        .show__contents__detail-table__face{
          .show__contents__detail-table__face__user-ratings1{
            display: inline-block;
            .fa-laugh{
              font-size: 16px;
              vertical-align: middle;
              color: #ef5185;
            }
          }
          .show__contents__detail-table__face__user-ratings2{
            display: inline-block;
            margin: 8px 0 0 16px;
            .fa-meh{
              font-size: 16px;
              vertical-align: middle;
              color: #fba933;
            }
          }
          .show__contents__detail-table__face__user-ratings3{
            display: inline-block;
            margin: 8px 0 0 16px;
            .fa-frown{
              font-size: 16px;
              vertical-align: middle;
              color: #6ab5d8;
            }
          }
        }
        .show__contents__detail-table__category1{
          color: #0099e8;
          text-decoration: none;
          display: block;
        }
        .show__contents__detail-table__category2{
          color: #0099e8;
          text-decoration: none;
          display: block;
        }
        .show__contents__detail-table__category3{
          color: #0099e8;
          text-decoration: none;
          display: block;
        }
        .show__contents__detail-table__brand{
          color: #0099e8;
          text-decoration: none;
        }
        .show__contents__detail-table__delivary{
          color: #0099e8;
          text-decoration: none;
        }
      }
    }
    .show__text-center{
      margin: 24px 0 0;
      text-align: center;
      .show__text-center__price{
        margin: 0 16px 0 0;
        font-size: 40px;
        font-weight: 600;
        display: inline-block;
      }
      .show__text-center__tax{
         font-size: 8px;
         display: inline-block;
      }
      .show__text-center__fee{
        display: inline-block;
        font-size: 16px;
      }
    }
    .show__item-buy-btn{
      background: #ea352d;
      height: 60px;
      line-height: 60px;
      display: block;
      margin: 16px 0 0;
      color: #fff;
      font-weight: 600;
      text-align: center;
      font-size: 24px;
      text-decoration: none;
    }
    .show__item-description{
      padding: 32px 0 0;
      line-height: 1.8;
      font-size: 17px;
      .show__item-description__text{
        white-space: pre-wrap;
      }
    }
    .show__item-button-container{
      margin: 16px 0 0;
      .show__item-button-container__left{
        float: left;
        .show__item-button-container__left__like{
          display: inline-block;
          color: #333;
          border: 1px solid #f5f5f5;
          display: inline-block;
          padding: 8px 16px;
          border-radius: 40px;
          cursor: pointer;
          background: #fafafa;
          touch-action: manipulation;
          font-size: 14px;

        }
        .show__item-button-container__left__report{
          display: inline-block;
          margin: 0 0 0 16px;
          color: #333;
          background: #f5f5f5;
          padding: 8px 16px;
          border-radius: 40px;
          text-decoration: none;
          touch-action: manipulation;
          cursor: pointer;
          border: 1px solid #f5f5f5;
          font-size: 14px;
        }
      }
      .show__item-button-container__right{
        margin: 10px 0 0;
        float: right;
        .show__item-button-container__right__news{
          display: inline-block;
          color: #0099e8;
          text-decoration: none;
          touch-action: manipulation;
          font-size: 14px;
        }
      }
    }
  }
  .detail-message{
    width: 700px;
    margin: 8px auto;
    .detail-message__container{
      .detail-message__container__content{
        padding: 24px;
        background: #fff;
        .detail-message__container__content__text{
          padding: 8px;
          font-size: 14px;
          background: #fff6de;
        }
        .detail-message__container__content__textarea{
          margin: 8px 0 0;
          display: block;
          width: 100%;
          max-width: 96.7%;
          min-height: 104px;
          padding: 10px;
          border: 1px solid #ccc;
          background: #fff;
          font-size: 16px;
          line-height: 1.5;
        }
        .detail-message__container__content__text__submit{
          width: 100%;
          margin: 8px 0 0;
          font-size: 14px;
          text-align: center;
          background: #aaa;
          border: 1px solid #aaa;
          color: #fff;
          display: block;
          line-height: 48px;
          cursor: pointer;
        }
      }
    }
  }
  .navi-item{
    margin: 24px auto 0;
    width: 700px;
    .navi-item__link-prev{
      width: 45%;
      position: relative;
      word-wrap: break-word;
      float: left;
      padding: 0 0 0 14px;
      .navi-item__link-prev__text{
        font-size: 14px;
        color: #0099e8;
        text-decoration: none;
      }
      .fa-chevron-left{
        margin-right: 5px;
      }
    }
    .navi-item__link-next{
      width: 45%;
      position: relative;
      word-wrap: break-word;
      float: right;
      padding: 0 14px 0 0;
      text-align: right;
      .navi-item__link-next__text{
        font-size: 14px;
        color: #0099e8;
        text-decoration: none;
      }
      .fa-chevron-right{
        position: absolute;
        top: 50%;
        margin-left: 5px;
      }
    }
  }
  .item-social{
    margin: 24px auto;
    padding: 32px 0 24px;
    width: 700px;
    background: #fff;
    .item-social__media-box{
      text-align: center;
      margin: 16px 0 0;
      list-style: none;
      .item-social__media-box__facebook{
        text-decoration: none;
        .fa-facebook-square{
          width: 44px;
          height: 44px;
          border-radius: 4px;
          line-height: 44px;
          font-size: 26px;
          color: #fff;
          background: #385185;
        }
      }
      .item-social__media-box__twitter{
        text-decoration: none;
        .fa-twitter{
          width: 44px;
          height: 44px;
          border-radius: 4px;
          line-height: 44px;
          font-size: 26px;
          color: #fff;
          background: #5d9dc9;
        }
      }
      .item-social__media-box__pinterest{
        text-decoration: none;
        .fa-pinterest{
          width: 44px;
          height: 44px;
          border-radius: 4px;
          line-height: 44px;
          font-size: 26px;
          color: #fff;
          background: #aa262a;
        }
      }
    }
  }
}

th{
  width: 39%;
  text-align: left;
  font-weight: 400;
  background: #fafafa;
  padding: 8px;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;

}

td{
  width: 61%;
  background: #fff;
  padding: 8px;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
}
