.main-container{
  margin:40px auto 0;
  width:1020px;
  height:1292px;
  display:block;
  padding:0 0 40px;
  .main-content{
    float:right;
    width:700px;
    height:1189px;
    .tabs{
      .tab-content {
        display: none;
        min-height: 200px;
        width:700px;
        .main-content-tabs__line__list__notice{
          list-style:none;
          border-bottom:1px solid rgb(245,245,245);
          &__field{
            box-sizing: border-box;
            display:flex;
            min-height: 80px;
            padding: 16px;
            color: #333;
            text-decoration: none;
            margin:0;
            width:100%;
            &__figure{
              position: relative;
              overflow: hidden;
              float: left;
              width: 48px;
              height: 48px;
              margin:0;
              padding:0;
              &__image{
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              z-index: 1;
              width:100%;
              height:100%;
              }
            }
          }
          .mypage-item-body.show-stock-item{
              .mypage-item-status.bold.awaiting{
                background-color:#0099e8;
                font-weight: 600;
                color:white;
                width:40px;
                padding: 5px 4px;
                border-radius: 2px;
                font-size: 12px;
                color: #fff;
                text-align: center;
              }
          }
        }
        .mypage-item-not-found.bold{
        margin-top:50px;
        padding: 160px 0 60px;
        background: url(https://www.mercari.com/jp/assets/img/common/common/logo-gray-icon.svg?61790013);
        background-repeat: no-repeat;
        background-position: center 40px;
        background-size: 78px 85px;
        text-align: center;
        font-size: 16px;
        color: #ccc;
        }
      }
    }
    .main-content-purchace{
      margin: 80px 0 0;
      background: #fff;
      min-height:382px;
      width:700px;
      &__head{
        padding:0 16px;
        background: #fafafa;
        font-size: 16px;
        line-height: 72px;
        font-weight:550;
      }
      .tabs{
        .tab-label {
          display:inline-block;
          height:72px;
          width:233px;
          text-align:center;
          line-height:74px;
          background:#eee;
          &:hover {
            opacity: 0.7;
          }
        }
        .tab-content {
          display: none;
          border: 1px solid #999;
          min-height: 200px;
          width:700px;
          .mypage-item-not-found.bold{
          margin-top:50px;
          padding: 160px 0 60px;
          background: url(https://www.mercari.com/jp/assets/img/common/common/logo-gray-icon.svg?61790013);
          background-repeat: no-repeat;
          background-position: center 40px;
          background-size: 78px 85px;
          text-align: center;
          font-size: 16px;
          color: #ccc;
          }
        }
      }
    }
    }
  }
.aside{
  height:260px;
  width:1280px;
  background-color: orange
}
.footer{
  height:391px;
  width:1280px;
  background-color: aqua;
}
