
  .logout-main{
    display: block;
    float: right;
    .logout-main-content{
      width: 700px;
      margin: 0 auto;
      height: 179px;
      background-color: white;
      &_box{
        height: 179px;
        padding: 64px;
        border-top:1px solid red;

        &_input{
          width: 320px;
          height: 364px;
          margin: 0 auto;
          padding: 64px ;
          .logout-form-group-first{
            height: 70px;
            &_label{
              font-weight: 600;
              display: inline-block;
              font-size: 14px;
            }
            &_input{
              width: 88%;
              margin: 8px 0 0;
              height: 28px;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: #fff;
              line-height: 1.5;
              font-size: 16px;
              &:focus {
                outline: none;
                border :1px solid blue;
              }
              
            }
          }
        }
      }
    }
  }


.logout-submit{
  background: red;
  border: 1px solid red;
  color: #fff;
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  text-align: center;
  outline: none;

  &:active{
    background-color: gray;
    outline: none;
  }
}


.form-info_text-center {
  margin: 8px 0 0;
  color: black;
  font-size: 14px;
  text-align: center;
}