.top-footer {
  padding: 0 60px 10px 60px;
  background: #212121;
  color: #fff;
  height: 550px;
  margin: 0 auto; 
  .clearfix {
    height: 500px;
    .footer-mercari {
      padding: 0 60px 0 0;
      float: left;
      width: 10%;
      display: block;
      margin-left: 50px;
      &__title {
        color: #fff;
        font-size: 16px;
        font-weight: 100;
        padding-top: 15px;
        &__privacy {
          float: left;
          width: 45%;
          vertical-align: top;
          &__list {
            margin: 16px 0 0;
            &__l {
              margin: 7px 0 0;
              &__text {
                text-decoration: none;
                color: #fff;
                font-size: 12px;
                opacity: .7;
              }
              &__text:hover {
                text-decoration: underline;
                text-decoration-color: white;
              }
            }
          }
        }
      }
      &__list {
        margin: 16px 0 0;
        &__l {
          margin: 7px 0 0;
          &__text {
            text-decoration: none;
            color: #fff;
            font-size: 12px;
            opacity: .7;
          }
          &__text:hover {
            text-decoration: underline;
            text-decoration-color: white;
          }
        }
        &__social {
          margin: 14px 0 0;
          display: inline-block;
          .fa-twitter {
            color: #fff;
            font-size: 40px;
          }
          .fa-facebook-square {
            color: #fff;
            margin-left: 10px; 
            font-size: 40px;
          }
        }
      }
    }
    .full-width {
      width: 30%;
    }
  }
  .footer-bottom{
    margin-left: 50px;
    width: 700px;
    &__icon {
      display: inline-block;
      margin-right: 15px;
      width: auto;
      font-size: 12px;
      line-height: 1.5em;
      &__pic {
        vertical-align: middle;
      }
    }
    &__icon:hover {
      text-decoration: underline;
      opacity: .7;
    }
    
    &__copy {
      display: inline-block;
      margin: 8px 0 0;
      text-align: center;
      vertical-align: sub;
      font-size: 12px;
      line-height: 37px;
      &__right {
        margin-left: 400px;
      }
    }    
  }
}
.footer-btn {
  bottom: 32px;
  right: 32px;
  width: 160px;
  height: 160px;
  font-size: 22px;
  position: fixed;
  z-index: 1000;
  border-radius: 50%;
  background: #ea352d;
  color: #fff;
  text-align: center;
  text-decoration: none;
  &__text {
    margin: 32px 0 0;
  }
  .fa-camera {
    margin: 8px 0 0;
    font-size: 54px;
    display: inline-block;
  }
}
