.side-bar{
  float:left;
  width:280px;
  margin:0 40px 0 0;
  &__box{
    ul{
      list-style:none;
      text-decoration: none;
      li{
        background-color:#fff ;
        border-top:1px solid  #eee;
        height:48px;
        display:flex;
        align-items: center;
        position:relative;
        &:hover{
          background-color:whitesmoke;
          .fa.fa-chevron-right{
            color:black;
          }
        }
        .mypage{
          font-weight:bold;
          text-decoration: none;
          background:#eee;
        }
        a{
          padding:16px;
          font-size:14px;
          width:100%;
          text-decoration:none;
          color:black;
        }
        .fa.fa-chevron-right{
          position:absolute;
          right:16px;
          color:#eee;
        }
        .li__link {
          color: black;
        }
        .li__link:hover {
          text-decoration: none;
        }
      }
      li:hover {
        background: #eee
      }

    }
    h3{
      font-size:16px;
      margin:40px 0 0;
      font-weight:bold;
    }
    }
  }