.wrapper{
  background-color: rgb(245,245,245);
  height:2132px;
  width:1280px;
  padding:0;
  margin:0;
  .header{
  height:100px;
  width:1280px;
  background-color:white;
  }
  .nav{
    height:49px;
    width:1280px;
    background-color:darkmagenta;
  }
  .main-container{
    margin:40px auto 0;
    width:1020px;
    height:1292px;
    display:block;
    padding:0 0 40px;
    .main-content{
      float:right;
      width:700px;
      height:1189px;
      .main-content-mypage-user{
        box-sizing:border-box;
        position: relative;
        height:200px;
        padding:20px;
        display:block;
        text-align: center;
        background:url(https://www.mercari.com/jp/assets/img/mypage/user-bg.jpg?69765993);
        background-size: cover;
        text-align: center;
        &__field{
          box-sizing:border-box;
          height:111px;
          margin:auto 0;
          width:700px;
          display:block;
          top:25%;
          right:0;
          left:0;
          position: absolute;
          &__figure{
            overflow: hidden;
            width:60px;
            height:60px;
            margin:0 auto;
            border-radius:50%;
            &__image{
              vertical-align: middle;
            }
        }
          &__name{
            font-size:14px;
            margin:8px 0 0;
            line-height:1.4;
            font-weight:600;
            text-align: center;
          }
        .main-content-mypage-number{
          font-size:0;
          margin:8px 0 0;
          &__evaluation{
            display:inline-block;
            font-size:14px;
            &__count{
              margin:0 0 0 8px;
            }
          }
          &__sells{
            display:inline-block;
            font-size: 14px;
            margin:0 0 0 16px;
            &__count{
              margin:0 0 0 8px;
            }
          }
        }
       }
      }
      .main-content-tabs{
        width:700px;
        margin:0;
        &__list{
          height:72px;
          width:100%;
          list-style: none;
          background:white;
          &-notice{
            height:72px;
            width:50%;
            float:left;
            text-align:center;
            line-height:74px;
            border-top:2px solid red;
          }
          &-todo{
            height:74px;
            width:50%;
            float:right;
            text-align:center;
            line-height:74px;
            h3{
              a{
                text-decoration:none;
              }
            }
          }
        }
        .main-content-tabs__line{
          width:700px;
          top:0;
          text-decoration: none;
          &__list{
            display:block;
            &__notice{
              border-bottom: #eee solid 1px;
              background-color: white;
              text-decoration: none;
              &__field{
                box-sizing: border-box;
                display:flex;
                min-height: 80px;
                padding: 16px;
                color: #333;
                text-decoration: none;
                &__figure{
                  position: relative;
                  overflow: hidden;
                  float: left;
                  width: 48px;
                  height: 48px;
                  margin:0;
                  padding:0;
                  &__image{
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    z-index: 1;
                    width:100%;
                    height:100%;
                  }
                }
                .main-content-tabs__line__list--textarea{
                  margin: 0 40px 0 28px;
                  position:relative;
                  width:560px;
                  &__text{
                    box-sizing:border-box;
                    max-height: 4.4em;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    text-overflow: ellipsis;
                    line-height: 1.5;
                    min-height:21px;
                    font-size:14px;
                    display:inline-block;
                  }
                  &__timebox{
                    display:block;

                    .fa.fa-clock{
                      font-family: 'icon-font';
                      speak: none;
                      font-style: normal;
                      font-weight: 400;
                      font-variant: normal;
                      text-transform: none;
                      line-height: 1;
                      -webkit-font-smoothing: antialiased;
                      font-size: 16px;
                      vertical-align: middle;
                      margin:0 8px 0 0;
                    }
                    .day-time{
                    vertical-align: middle;
                    height:18px;
                    font-size:12px;
                    }
                  }
                }
              .fa.fa-chevron-right{
                display:inline-block;
                margin:auto;
                color:gray;
              }
              }
            }
            .main-content-tabs__line__list__back{
              display: block;
              min-height: 80px;
              padding: 16px;
              color: #333;
              background-color:white;
              &-text{
                display: block;
                height: 56px;
                margin: 0 auto;
                background: #eee;
                color: #333;
                line-height: 56px;
                text-align: center;
              }
          }

          }
        }
      }
      .main-content-purchace{
        margin: 80px 0 0;
        background: #fff;
        min-height:382px;
        width:700px;
        &__head{
          padding:0 16px;
          background: #fafafa;
          font-size: 16px;
          line-height: 72px;
          font-weight:550;
        }
        &__tabs{
          width:700px;
          height:74px;
          list-style: none;
          font-weight:600;
          background: #eee;
          &-tab{
            height:74px;
            width:50%;
            float:left;
            text-align:center;
            line-height:74px;
            &__text{
              font-weight:600;
              position: relative;
              display:inline-block;
              color: #333;
              font-size: 16px;
              line-height: 72px;
            }
          }
        }
        .main-content-purchace__box{
          .main-content-purchace__box-lists{
            display: block;
            &__list{
              border-bottom: #eee solid 1px;
              background-color: white;
              text-decoration: none;
              &__field{
                box-sizing: border-box;
                display:flex;
                min-height: 80px;
                padding: 16px;
                color: #333;
                text-decoration: none;
                &__figure{
                  position: relative;
                  overflow: hidden;
                  float: left;
                  width: 48px;
                  height: 48px;
                  margin:0;
                  padding:0;
                  &__image{
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    z-index: 1;
                    width:100%;
                    height:100%;
                  }
                }
                .main-content-purchace__box-lists__list__field__box{
                  margin: 0 40px 0 28px;
                  position:relative;
                  width:560px;
                  &-text{
                    box-sizing:border-box;
                    max-height: 4.4em;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    text-overflow: ellipsis;
                    line-height: 1.5;
                    height:21px;
                    font-size:14px;
                    display:inline-block;
                  }
                  &-icon{
                    margin: 8px 0 0 0;
                    padding: 5px 6px;
                    border-radius: 2px;
                    font-size: 12px;
                    color: #fff;
                    background: #888;
                    width: 50px;
                    font-weight:600;
                  }
                }
              .fa.fa-chevron-right{
                display:inline-block;
                margin:auto;
                color:gray;
              }
              }
            }
          }
        }
     }
      }
    }
    .side-bar{
      float:left;
      width:280px;
      margin:0 40px 0 0;
      &__box{
        ul{
          list-style:none;
          text-decoration: none;
          li{
            background-color:#fff ;
            border-top:1px solid  #eee;
            height:48px;
            display:flex;
            align-items: center;
            position:relative;
            .mypage{
              font-weight:bold;
              text-decoration: none;
              background:#eee;
            }
            a{
              padding:16px;
              font-size:14px;
              width:100%;
              text-decoration:none;
            }
            .fa.fa-chevron-right{
              position:absolute;
              right:16px;
              color:#eee;
              // &:hover{
              //   color:black;
              //   right:15px;
              // }
            }
          }
        }
        h3{
          font-size:16px;
          margin:40px 0 0;
          font-weight:bold;
        }
        }
      }
  .aside{
    height:260px;
    width:1280px;
    background-color: orange
  }
  .footer{
    height:391px;
    width:1280px;
    background-color: aqua;
  }
}