@import "./config/reset";
@import "font-awesome";
@import "./items.index";
@import "./detail";
@import "./exhibition";
@import "./cards.index";
@import "./confirm";
@import "main-header";
@import "user-mypage";
@import "main-footer";
@import "user-index";
@import "side-bar";
@import "user_new";
@import "./registration";
@import "users";
@import "sms_confirmation";
@import "sms_confirmation_sms";
@import "address";
@import "credit_card";
@import "done";
@import "./exhibition";
@import "./detail";
@import "logout";
@import "account_information";
@import "main-header";
@import "main-footer";
@import "side-bar";
@import "./items";
@import "logout";
@import "account_information";



.bottom-banner {
  background: url(https://www.mercari.com/jp/assets/img/common/jp/top/download_bg_pc.jpg?57233791);
  background-position: center;
  background-size: cover;
  &__photo {
    overflow: hidden;
    position: relative;
    width: 800px;
    height: 300px;
    margin: 0 auto;
    color: #fff;
      &__logo {
        position: absolute;
        top: 20%;
        &__title {
          font-size: 20px;
        }
        &__text {
          margin: 10px 0 0;
          font-size: 32px;
        }
        &__icon {
          margin: 20px 0 0;
          &__pic {
            float: left;
          }

          &__smart {
            float: left;
            margin: 0 0 0 24px;
            line-height: 90px;
            &__mark {
              float: left;
              &__app:hover {
                text-decoration: underline;
                opacity: .7;
              }
              &__goo:hover {
                text-decoration: underline;
                opacity: .7;
              }
            }
          }
        }
      }
      &__example {
        width: 300px;
        height: 100%;
        float: right;
      }
  }
}
